
*{
    /*-fx-text-fill: #4A4A4A;
    -fx-fill: #4A4A4A;
    -fx-font-size: 15;*/
    -fx-main: #4A4A4A;
    -fx-main2: #717171;
    -fx-accent1:#71A5DE;
    -fx-error:#EE4035;
}

.button{
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: -fx-main;
    -fx-fill: -fx-main;
    -fx-font-size: 15;
}

.error {
    -fx-text-fill: -fx-error;
    -fx-fill: -fx-error;
    -fx-border-color: transparent transparent -fx-error transparent ;
}

.button-loginview {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-font-size: 18;
    -fx-border-width: 1 2 2 1;
    -fx-border-color: -fx-main;
}

.passwordfield-loginview{
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-width: 0 0 2 0;
    -fx-border-color: -fx-main;
    -fx-prompt-text-fill: -fx-main2;
}

.textfield-loginview{
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-width: 0 0 2 0;
    -fx-border-color: -fx-main;
    -fx-prompt-text-fill: -fx-main2, fontawe;
}

.button-register-loginview{
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-font-size: 18;
    -fx-underline: true, -fx-main;
    -fx-text-fill: -fx-main;
}

.button-register-loginview:hover{
    -fx-text-fill: -fx-accent1;
}

